<?xml version="1.0"?>

<robot name="husky_bumblebee">
	<joint name="bumblebee_mesh" type="fixed">
		<parent link="top_plate_link"/>
		<child link="husky_bumblebee"/>
		<origin xyz="-0.31 0.0 0.37" rpy="0 0 1.57079633"/>
	</joint>

	<link name="husky_bumblebee">
		<visual>
			<geometry>
				<mesh filename="package://husky_custom_description/meshes/bb2_on_tilt_mount.dae"/>
			</geometry>
		</visual>
	</link>
	
	<joint name="top_mount_to_bumblebee" type="fixed">
        <parent link="top_plate_link"/>
        <child link="bumblebee"/>
        <origin xyz="-0.31 0.0 0.37" rpy="0.0 0.0 0.0"/>
    </joint>
	
	<link name="bumblebee" />

</robot>