<?xml version="1.0"?>
<!--
Software License Agreement (BSD)

\file      description.urdf.xacro
\authors   Paul Bovbel <pbovbel@clearpathrobotics.com>, Devon Ash <dash@clearpathrobotics.com>
\copyright Copyright (c) 2015, Clearpath Robotics, Inc., All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Clearpath Robotics nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<robot name="husky" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="laser_enabled" default="$(optenv HUSKY_LMS1XX_ENABLED false)" />
  <xacro:arg name="ur5_enabled" default="$(optenv HUSKY_UR5_ENABLED false)" />
  <xacro:arg name="kinect_enabled" default="false" />

  <xacro:include filename="$(find husky_description)/urdf/husky.urdf.xacro" />
  <xacro:husky_robot />
  
  <xacro:include filename="$(find husky_custom_description)/urdf/bumblebee.urdf" />
  
  <xacro:include filename="$(find husky_custom_description)/urdf/lms511.urdf" />

  <!-- Insert Customizations Below -->

  <link name="axis_mesh">
    <visual>
      <geometry>
        <mesh filename="package://husky_custom_description/meshes/axis_ptz.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="top_plate_to_axis_mesh" type="fixed">
      <parent link="top_plate_link"/>
      <child link="axis_mesh"/>
      <origin xyz="-0.31 0.205 0.47" rpy="3.141592 0 1.57079633" />
  </joint>

  <link name="bumblebee_mesh">
    <visual>
      <geometry>
        <mesh filename="package://husky_custom_description/meshes/bb2_on_tilt_mount.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="top_plate_to_bumblebee_mesh" type="fixed">
      <parent link="top_plate_link"/>
      <child link="bumblebee_mesh"/>
      <origin xyz="-0.31 0.0 0.37" rpy="0 0 1.57079633" />
  </joint>

  <link name="smart6_mesh">
    <visual>
      <geometry>
        <mesh filename="package://husky_custom_description/meshes/smart6.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="top_plate_to_smart6_mesh" type="fixed">
      <parent link="top_plate_link"/>
      <child link="smart6_mesh"/>
      <origin xyz="-0.31 -0.265 0.51" rpy="0 0 3.141592" />
  </joint>

  <link name="arch_mesh">
    <visual>
      <geometry>
        <mesh filename="package://husky_custom_description/meshes/plm_arch.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="top_plate_to_arch_mesh" type="fixed">
      <parent link="top_plate_link"/>
      <child link="arch_mesh"/>
      <origin xyz="-0.310 0 0.0" rpy="0 0 1.57079633" />
  </joint>
  
  <!--link name="lms511_mesh">
    <visual>
      <geometry>
        <mesh filename="package://husky_custom_description/meshes/lms511.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="top_plate_to_lms511_mesh" type="fixed">
      <parent link="top_plate_link"/>
      <child link="lms511_mesh"/>
      <origin xyz="0.320 0 0.065" rpy="0 0 0" />
  </joint-->
  
  <!-- Include and invoke the macro which creates a Mico -->
  <!--xacro:include filename="$(find husky_custom_description)/urdf/m1n6a200_standalone.xacro" /-->
  <!--mico_arm parent="top_plate_link" /-->

  <!-- Create a fixed joint to connect the Jaco to the rest of the robot -->
  <!--joint name="top_plate_to_mico" type="fixed">
    <parent link="top_plate_link"/>
    <child link="root"/>
    <origin xyz="0.21 -0.197 0.01" rpy="0 0 1.57079633" />
  </joint-->

</robot>
