<?xml version="1.0"?>

<robot name="husky_lidar">
	<joint name="lidar_mesh" type="fixed">
		<parent link="top_plate_link"/>
		<child link="husky_lidar"/>
		<origin xyz="0.320 0 0.065" rpy="0 0 0"/>
	</joint>

	<link name="husky_lidar">
		<visual>
			<geometry>
				<mesh filename="package://husky_custom_description/meshes/lms511.dae"/>
			</geometry>
		</visual>
	</link>
	
	<joint name="top_mount_to_lidar" type="fixed">
        <parent link="top_plate_link"/>
        <child link="laser"/>
        <origin xyz="0.320 0 0.065" rpy="0.0 0.0 0.0"/>
    </joint>
	
	<link name="laser" />

</robot>